:root{
  --primary-color:#a6bce7;
  --secondary-color: #212121;
 
}
body{
  background-color: #a4bced;
}

#moon{
  width: 30px;
  cursor: pointer;
  display: flex;
  float: right;
  margin-top: -39px;
  position:relative;
  margin-left: 40px
}
 .form{
  margin-left: 23px;
  text-align: center ;
  width: 300px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid;
  height: 35px;
 }
 .btn-group {
  display: flex;
  float: right;
  position: absolute;
  margin-right: 40px;
  border: 1px solid;
  padding: 5px;
 }
  .card-text .card-title{
    background-image: var(--primary-color);
  }

.dark-theme{
  background-color: #1c1414;
  color: hwb(0 100% 0%);
}
.row {
  margin: left 10px; 
  justify-content: center;
  margin: 10px;
}
p{
  color: rgb(55, 0, 255);
}
.icons{
  text-decoration-style: none;
  text-decoration: none;
}